<section class="new-training" fxLayout="row" fxLayoutAlign="center center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.sx="100%" fxFlex="25rem">
        <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
        <mat-card-content fxLayoutAlign="center" >
          <mat-form-field *ngIf="!(isLoading$ | async) && (exercises$ | async) ">
            <mat-select 
              placeholder="Select a workout" 
              ngModel 
              name="exercise" 
              required
            >
              <mat-option *ngFor="let exercise of (exercises$ | async)" [value]="exercise.id">
                {{ exercise.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
          <button 
            mat-button 
            color="primary" 
            type="submit"
            [disabled]="f.invalid"
            *ngIf="(exercises$ | async)"
          >Start</button>
          <button 
            mat-button 
            color="primary" 
            type="button"
            *ngIf="!(exercises$ | async)"
            (click)="fecthAvailableExercises()"
          >Fetch Again</button>          
      </mat-card-actions>   
      </mat-card>
  </form>

</section>
  